doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: true, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "template"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body
    #root
      h1 visualization
      h3 網站連結
      ul
        li: a(href="http://plotdb.com",target="_blank") PlotDB
        li: a(href="http://data.infographics.tw/viz/twstat/",target="_blank") 縣市重要指標

      h3 圖表連結
      ul
        li: a(href="http://plotdb.com/chart/980",target="_blank") Dumbbell Chart
        li: a(href="http://plotdb.com/chart/1015",target="_blank") Cycle Plot
        li: a(href="http://plotdb.com/chart/1032",target="_blank") Connected Scatter Plot
        li: a(href="http://plotdb.com/chart/1039",target="_blank") Sankey Chord

    #footer
      a(href="http://x.co/dovis") 本頁網址
